<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
    <form action="/datos" method="POST">
        <div class="formulario">
    <div>
        <input type="text" name="nombre" placeholder="Indique su nombre" required id="nombre">
    </div>
    <div>
        <input type="text" name="apellido" placeholder="Indique su apellido"> 
    </div>
    <div>
        <input class="boton"  type="submit" value="ingresar">
    </div>
</div>
    </form>
</body>
</html>