<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/registro.css">
</head>

<body>
    <div class="main">
        <div class="tituloFijo">
            <h1 class="tituloForm">Registro</h1>
        </div>

      
        <section class="fondo">
        <div class="formulario">
        <h4 id="subtitulo">Registrate es facil y rápido</h4>
            
            <form action="/datos" method="POST">
                <div>
                    <input type="text" name="nombre" placeholder="Indique su nombre" required id="nombre">
                </div>
                <div>
                    <input type="text" name="apellido" placeholder="Indique su apellido"> 
                </div>
                <div>
                    <input type="text" name="domicilio" placeholder="Indique su Domicilio">
                </div>
                <label for="nacimiento">Fecha de nacimiento</label>
                <div>
                    
                    <input type="date" name="nacimiento" placeholder="mm/dd/yyyy">
                </div>
                <div>
                    <input type="radio" name="comprador" value= "si">
                    <label for="compra">comprador</label>
                
                <div>
                    <input type="radio" name="vendedor" value="si">
                    <label for="vende">vendedor</label>
                </div>
                
                <div>
                    <input type="checkbox" name="electro" placeholder="Electro">
                    <label for="electro">Electro</label>
                </div>
                <div>
                    <input type="checkbox" name="moda" placeholder="Moda">
                    <label for="moda">Moda</label>
                </div>
                <div>
                    <input type="checkbox" name="hogar" placeholder="Hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="juguetería" placeholder="Juguetería">
                    <label for="juguetería">Jugueteria</label>
                </div>
                <div>
                    <input type="checkbox" name="vida sana" placeholder="Vida sana">
                    <label for="vidasana">Vida sana</label>
                </div>
                <div>
                    <input type="password" name="contraseña" placeholder="Contraseña">
                </div>
                <div>
                    <input type="password" name="confircontraseña" placeholder="Confirmar contraseña">
                </div>
                
                <div>
                    <div>
                        <input class="borrarDatos" type="reset" value="Borrar datos">
                    </div>

            </form>
        </div>
    </section>
        <div class="boton">
            <a id="boton" href="/">Inicio</a>
        </div>
    </div>
</body>

</html>

